<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>List articles</title>
	</head>
	<body>
		<a href="/articles/create">Buat article baru</a> | <a href="/logout">Logout</a> <br />
		<% if (!results || results.length === 0) { %> artikel masih kosong <% } else {%>

		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Body</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% results.forEach((article) => { %>
				<tr>
					<td><%= article.id %></td>
					<td><%= article.title %></td>
					<td><%= article.body %></td>
					<td>
						<a href="/articles/<%= article.id %>/update/">EDIT</a> |
						<form action="/articles" method="POST">
							<input type="hidden" name="method" value="DELETE" />
							<input type="hidden" name="id" value="<%= article.id %>" />
							<button type="submit">DELETE</button>
						</form>
					</td>
				</tr>

				<% }) %>
			</tbody>
		</table>
		<% } %>
	</body>
</html>
